body{}

h1{
    color: rgb(111, 71, 37);
}

div{
    background-color: rgb(255, 203, 211);
    width: 50vw;
}

.divrojo{
    background-color: rgb(255, 87, 87);
}

#divUnico {
    background-color: brown;
}
#dibujo {
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cara {
    background-color: rgb(99, 76, 64);
    width: 30vw;
    height: 40vw;
    border-radius: 60vw;
}
.ojos {
    background-color: blanchedalmond;
    width: 10vw;
    height: 10vw;
    border-radius: 60vw;
    position: absolute
}
#ojoIzq {
    top: 40%;
    left: 15%;
}
#ojoDer {
    top: 40%;
    left: 28%;
}
.lengua {
    background-color: rgb(249, 121, 121);
    width: 17vw;
    height: 10vw;
    border-radius: 40vw;
    transform:rotateZ(270deg);
    position:absolute;
    top: 72%;
    left: 18%;
}
.boca {
    width: 20vw;
    height: 10vw;
    background-color: rgb(255, 161, 235);
    border-radius: 0 0 200px 200px;
    position: absolute;
    top: 65%;
    left: 16%;
}
.pupIzq {
    background-color: black;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    position: absolute;
    top: 48%;
    left: 17%;
}
.pupDer {
    background-color: black;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    position: absolute;
    top: 48%;
    left: 30%;
}
.pelo1 {
    background-color: rgb(81, 61, 61);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    position: absolute;
    top: 23%;
    left: 10%;
}
.pelo2 {
    background-color: rgb(81, 61, 61);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    position: absolute;
    top: 18%;
    left: 17%;
}
.pelo3 {
    background-color: rgb(81, 61, 61);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    position: absolute;
    top: 14%;
    left: 24%;
}
.pelo4 {
    background-color: rgb(81, 61, 61);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    position: absolute;
    top: 18%;
    left: 31%;
}
.pelo5 {
    background-color: rgb(81, 61, 61);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    position: absolute;
    top: 23%;
    left: 36%;
}